body{
    width: 1260px;
    float: left;
}
.top{
    box-sizing: border-box;
    padding: 70px 70px 70px 70px;
    background-color: white ;
    border: 1px solid blueviolet;
    box-shadow: 5px 6px 8px 3px blueviolet;
    background-color: white;
    background-image: url("../images/backgroud_hoa_qua_rau_xanh.jpg");
    background-position: 20px 70px;
}
.logo{
    margin-top: -50px;
    margin-left: -60px;
    float: left;
    padding-right: 100px;
}
#a{
    margin-top: -20px;
}
.thanh-ngang{
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    background-color: #b4ffc9;
    border: 2px solid rebeccapurple;
}
.slogan{
    margin-top: -170px;
    margin-left: 750px;
}
.menu{
    margin-top: -17px;
     text-indent: 20px;
     float: left;
}
h1{
    font-size: 20px;
    text-align: left;
    margin-top: -20px;
    margin-left: -20px;
}
.menu:hover{

}
.logo_to_4{
    margin-left: -40px;
}
